* {
    padding: 0px;
    margin: 0px;
    font-family: 'Alegreya Sans', sans-serif;
    box-sizing:border-box
}

body {
    background-color: rgb(255, 255, 255);
}

nav {
    justify-content: center;
    text-align: center;
    background-color: white;
}

nav ul {
    padding: 10px;
    margin-top: 70px;
}

nav ul li{
    display: inline;
}

nav ul li img {
    position: absolute;
    height: 170px;
    transform: translateY(-60px);
}

nav ul li a{
    text-decoration: none;
    list-style: none;
    margin: 0px 20px 0px 20px;
    font-size: 120%;
    color: rgb(23, 139, 75);
}

nav ul li a:hover{
    color: rgb(35, 197, 35);
}

.slider {
  text-align: center;
  margin-top: 100px;
}
.mySlides{
    justify-content: center;
}

.one {
  display: none;
  width: auto;
  height: 500px;
  margin: auto;
  background-image: url("images/img2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.slidertext{
    color: white;
    width: 600px;
    font-family: "Source Sans Pro";
    background-color: rgb(23, 139, 75);
    margin: auto;
    padding: 10px;
    border-left: rgb(3, 190, 84) solid 5px;
}
.a {
    border: none;
    margin: 150px auto;
    width: 300px;
    box-shadow: rgb(0, 196, 65) 0px 0px 10px;
    cursor: pointer;
}


.two {
  display: none;
  width: auto;
  height: 500px;
  margin: auto;
  background-image: url("images/img2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #02d36a;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 5%;
}

.prev:hover, .next:hover {
  background-color: #00ff8054;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.areuready{
  text-align: center;
  margin-top: 130px;
}

.service{
  margin-top: 50px;
  text-align: center;
  justify-content: center;
}

.curatenierez{
    background-color: rgb(23, 139, 75);
    height: 400px;
    width: 350px;
    text-align: center;
    margin: auto;
}

.curatenierez p{
    color: white;
    margin: auto 25px;
    font-family: "Source Sans Pro";
}
.serv {
  display: inline-block;
  margin: 5px;
}

.title{
  padding: 10px;
  background-color: rgb(20, 192, 77);
  width: 350px;
  margin: auto;
  color: white;
  font-family: "Source Sans Pro";
}

.dow{
  background-color: rgb(4, 25, 92);
}

.dowt{
  background-color: rgb(21, 70, 231);
}

.curatenierez img{
    height: 150px;
    margin-top: 50px;
    border: 1px solid snow;
}

.tt {
  font-size: 35px;
  background: rgb(12,157,51);
background: linear-gradient(90deg, rgba(12,157,51,1) 0%, rgba(0,212,255,0) 65%, rgba(121,9,9,0) 100%);
  padding: 10px;
  color: white;

  border-left: rgb(0, 218, 73) 15px solid;
}
.ttz {
  font-size: 16px;
  background: rgb(12,157,51);
background: linear-gradient(90deg, rgba(12,157,51,1) 0%, rgba(0,212,255,0) 65%, rgba(121,9,9,0) 100%);
  padding: 10px;
  color: white;
}

.d {
  background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,0) 25%, rgba(12,157,51,1) 100%, rgba(121,9,9,0) 100%);

}

.ds{
  border-right: rgb(0, 218, 73) 15px solid;
  border-left: none;
  background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,0) 25%, rgba(12,157,51,1) 100%, rgba(121,9,9,0) 100%);
}


.containeraur{
    width: 1200px;
    margin: 150px auto;
}

.contleft{
    text-align: left;
    margin-top: 50px;
}

.contright{
    text-align: right;
    margin-top: 50px;
}

.footer{
  background-image: url("images/bg.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
}
.footer p{
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 20px;
  margin-bottom: 200px;
}

.about{
  margin: 150px auto;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.308)), url("images/about.jpg");;
  width: 100%;
  height: 100%;
  text-align: center;
}

.about p{
  color: rgb(255, 255, 255);
  width: 1300px;
  margin: 50px auto;
  padding: 70px 0px 170px 0px;
  font-size: 25px;
  text-shadow: rgb(255, 255, 255) 0px 0px 2px;
  font-weight: 550;
}

.about h1{
  color: white;
  padding: 10px;
  font-size: 25px;
  text-shadow: rgb(0, 0, 0) 0px 0px 2px;
  font-size: 30px;
  font-weight: normal;
  background-color: rgb(9, 16, 110);
  width: 500px;
  margin: auto;
  transform: translateY(-25px);
  border-bottom: 3px solid;
}

.profile{
  text-align: center;
}

.divplus{
  text-align: center;
  margin-bottom: 150px;
  display: inline-block;
}

.member{
  float: left;
  padding: 0px 50px 0px 50px;
}
.member img{
  height: 150px;
  border-radius: 50%;
}
.member hr{
  margin: 20px auto;
  width: 150px;
}
.member p{
  width: 350px;
  margin: 20px auto;
}

.contact{
  background-color: rgb(22, 4, 88);
  height: 700px;
  width: auto;
  margin: 150px auto 120px auto;
}
.iconplus{
  text-align: center;
  
}
.icons{
  display: inline-block;
  transform: translateY(-40px);
  padding: 0px 30px 0px 30px;
}

.icons i{
  box-shadow: black 0px 0px 15px; 
  color: white; 
  padding: 25px; 
  font-size: 35px; 
  border-radius: 50%; 
  background-color: rgb(30, 122, 197);
}
.f:hover {
  cursor: pointer;
  box-shadow: none;
  transition: ease-in;
  transition: 1s; 
}
.m{
  cursor: pointer;
}
.p{
  cursor: pointer;
}

.m:hover{
  cursor: pointer;
  box-shadow: none;
  transition: ease-in;
  transition: 1s; 
}
.p:hover{
  cursor: pointer;
  box-shadow: none;
  transition: ease-in;
  transition: 1s; 
}
.emailshowing{
  background-color: rgb(8, 144, 255);
  height: 50px;
  display: inline-block;
  width: 0px;
  transform: translateX(-25px) translateY(-10px);
  display: none;
  position: relative;
  z-index: -1;
  text-align: center;

}

.emailshowing p {
  color: white;
  padding: 15px;
  opacity: 0;
}

.contactform{
  text-align: center;
}
.frame {
  max-width: 800px;
  margin: auto;
  padding: 50px;
}

.frame input {
  font-size: 20px;
  width: 100%;
  margin: 15px 0px 0px 0px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 15px;
}

.frame textarea{
  font-size: 20px;
  width: 100%;
  margin: 15px 0px 0px 0px;
  resize: none;
  height: 150px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
}

.frame button {
  margin-top: 70px;
  font-size: 20px;
  padding: 10px;
  width: 300px;
  cursor: pointer;
  border: none;
}



@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

